.tabContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
}

.tabTitle {
  border: 1px solid var(--primary);
  font-family: "AveriaSerifLibre", serif;
  font-weight: 400;
  display: inline-flex;
  gap: 8px;
  margin-bottom: 0;
  max-width: 80%;
}

.tabTitle svg {
  position: relative;
  top: 2px;
}

.tabTitle_large {
  border-top-left-radius: var(--br-base);
  border-top-right-radius: var(--br-base);
  background-color: var(--original-primary);
  font-size: var(--text-l);
  padding: 12px var(--size-l);
}

.tabTitle_small {
  border-top-left-radius: var(--br-s);
  border-top-right-radius: var(--br-s);
  background-color: var(--surface-container);
  font-size: calc(var(--text-base) * 1.1);
  padding: 8px var(--size-l);
}

.tabContent {
  border: 1px solid var(--on-surface);
  width: 100%;
  background-color: var(--surface-transparent);
  backdrop-filter: blur(10px);
}

.tabContent_large {
  border-bottom-left-radius: var(--br-base);
  border-bottom-right-radius: var(--br-base);
  border-top-right-radius: var(--br-base);
  padding: var(--size-l) var(--size-l);
}

.tabContent_small {
  border-bottom-left-radius: var(--br-s);
  border-bottom-right-radius: var(--br-s);
  border-top-right-radius: var(--br-s);
  padding: 12px var(--size-m);
}

.tabContentImage img {
  background-color: var(--surface);
  border: 1px solid var(--primary);
  border-radius: var(--br-s);
}

.showMore {
  border: 1px solid var(--primary);
  border-radius: var(--br-s);
  background-color: var(--surface-dim);
  padding: 12px 24px;
  font-family: "AveriaSerifLibre", serif;
  font-size: var(--text-s);
  cursor: pointer;
  transition: opacity 200ms;
  align-self: center;
}

.showMore:hover {
  opacity: 0.7;
}

@media (min-width: 568px) {
  .tabTitle_large {
    max-width: 100%;
    padding: var(--size-s) var(--size-l);
  }
}
