:root {
  /* Colors */
  --primary: #4f4200;
  --primary-container: #857425;
  --on-primary-container: #221b00;

  --secondary: #4a4327;
  --secondary-container: #7d7455;

  --tertiary: #284a34;
  --tertiary-container: #597d64;
  --tertiary-container-light: #c5ecce;

  --surface: #fff9ee;
  --surface-transparent: #fff9eeaa;
  --surface-dim: #e0d9cc;
  --surface-container: #f4eddf;
  --on-surface: #1e1b13;

  --white: #ffffff;
  --original-primary: #ffde3f;
  --original-secondary: #9b9168;
  --original-tertiary: #6d9b7b;
  --original-neutral: #949088;
  --original-neutral-transparent: #94908888;

  /* Font sizes */
  --text-4xl: clamp(2.25rem, 1.467rem + 3.913vw, 4.5rem);
  --text-3xl: clamp(2rem, 1.478rem + 2.609vw, 3.5rem);
  --text-2xl: clamp(1.75rem, 1.315rem + 2.174vw, 3rem);
  --text-xl: clamp(1.5rem, 1.152rem + 1.739vw, 2.5rem);
  --text-l: clamp(1rem, 0.652rem + 1.739vw, 2rem);
  --text-m: clamp(1.2rem, 1.061rem + 0.696vw, 1.8rem);
  --text-base: clamp(1rem, 0.861rem + 0.696vw, 1.2rem);
  --text-s: clamp(0.8rem, 0.73rem + 0.348vw, 1rem);

  /* Space */
  --size-4xl: clamp(2.25rem, 1.467rem + 3.913vw, 4.5rem);
  --size-3xl: clamp(2rem, 1.478rem + 2.609vw, 3.5rem);
  --size-2xl: clamp(1.75rem, 1.315rem + 2.174vw, 3rem);
  --size-xl: clamp(1.5rem, 1.152rem + 1.739vw, 2.5rem);
  --size-l: clamp(1rem, 0.652rem + 1.739vw, 2rem);
  --size-m: clamp(1.2rem, 1.061rem + 0.696vw, 1.8rem);
  --size-base: clamp(1rem, 0.861rem + 0.696vw, 1.4rem);
  --size-s: clamp(0.8rem, 0.73rem + 0.348vw, 1rem);

  /* Others */
  --br-2xl: 96px;
  --br-xl: 64px;
  --br-l: 32px;
  --br-base: 24px;
  --br-s: 16px;

  --sidebar-width: 340px;
}

@font-face {
  font-family: "AveriaSerifLibre";
  src:
    url("/fonts/AveriaSerifLibre-Regular.woff2") format("woff2"),
    url("/fonts/AveriaSerifLibre-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--surface);
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.7;
  font-size: var(--text-base);
  font-family: sans-serif;
}
main {
  max-width: 1400px;
  margin: auto;
  padding: 3em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
}
h1 {
  font-size: var(--text-3xl);
}
h2 {
  font-size: var(--text-2xl);
}
h3 {
  font-size: var(--text-xl);
}
h4 {
  font-size: var(--text-l);
}
h5 {
  font-size: var(--text-base);
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--primary);
  transition: opacity 0.2s;
}
a:hover {
  opacity: 0.7;
}
img {
  width: 100%;
  height: auto;
}

@media (max-width: 568px) {
  main {
    padding-inline: 16px;
  }
}
